@import url('../ss/ss-standard.css');
@import url('http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic');

input#ctl00_ContentPlaceHolder1_btnDeleteUser_input, span#ctl00_ContentPlaceHolder1_btnDeleteUser {
background-color: #DB3119 !important;
}

span.riSingle.RadInput {
     margin: 10px 0;
}

* {
  font-family: 'PT Sans', sans-serif !important;
}
a {
  color: #0069ad;
}
h1 {
  color: #606060;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

/*buttons */

.RadButton_Default.RadButton,
.RadButton_Default.rbSkinnedButton, .RadButton_Default .rbDecorated, .RadButton_Default.rbVerticalButton, .RadButton_Default.rbVerticalButton .rbDecorated, .RadButton_Default .rbSplitRight, .RadButton_Default .rbSplitLeft {
  color: #ffffff !important;
  background-color: #00386b !important;
  background-image: none!important;
  font-size: 14px !important;
  font-weight: 400 !important;
  height: 22px !important;
  line-height: 22px !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  border: none !important;
  text-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  min-height: 22px;
  text-transform: uppercase;
}
.RadGrid .rgRow td, .RadGrid .rgAltRow td, .RadGrid .rgEditRow td, .RadGrid .rgFooter td {
  padding: 10px 15px !important;
}
input[type="file"],
.RadDropDownList_Default {
  display: inline-block;
  margin: 0 15px;
  width: 210px !important
}
#ALMApp .riTextBox {
  color: #b0b1b1 !important;
  height: 45px !important;
  font-style: italic !important;
  font-size: 22px !important;
}
#ALMApp .riSingle {
  width: 100% !important;
}
.RadGrid_Default .rgMasterTable, .RadGrid_Default .rgDetailTable, .RadGrid_Default .rgGroupPanel table, .RadGrid_Default .rgCommandRow table, .RadGrid_Default .rgEditForm table, .RadGrid_Default .rgPager table {
  font-size: 14px;
  line-height: 16px;
}

span#btnLogin {
  text-align: center;
  display: block;
  width: 100%;
  padding: 10px 0;
  margin-top: 30px;
}
input#btnLogin_input {
  margin: 0 auto;
}
/* breaks telerik dropdown
.page-content.inset tr {
  height: 35px;
}*/
.page-content.inset tr td span.riSingle.RadInput input {
  width: 90% !important;
}

/* Misc */

.sidebarblock {
  font-weight: 600;
  padding: 15px 5% 0 5%;
}
ul.greenlist {
  padding: 10px 0;
  margin: 0;
}
ul.greenlist li {
  color: #606060;
  list-style: none;
}
a#lnkLogOut {
  margin: 30px 5% 50px 5%;
  display: block;
  overflow: visible;
  height: auto;
}

/* Original Styles */

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#header {
  height: 100px;
  line-height: 100px;
  padding-left: 20px;
  background: #F1F1F0;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #f5f4f4;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
  background: #fff;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 15px;
}

.sidebar-nav li a {
  color: #626161;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #000000;
  background: #626161;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 20px;
}

.sidebar-nav > .sidebar-brand a {
  color: #626161;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #000000;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

.inset {
  padding: 15px;
}

}
